@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
   
}
:root {
    --green:#2E8B57;
}
body{
    background-color: #fff;
    position: relative;
    scroll-behavior: smooth;
    width: 100vw;
    height: auto;
    overflow-x: hidden;
}


.logo{
    width: 170px;
    height: 100px;
    object-fit: cover;
    overflow: hidden;
}
.logo img{
    width: 170px;
    height: 100px;
    object-fit: cover;
    overflow: hidden;
}

.button{
   
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.btn{
    width: 200px;
    height: 200px;
    padding-top: 80px;
    background-color: var(--green);
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    font-size: 25px;
    font-weight: bold;
    transition: all 500ms ease-in ;
    
}
.btn:hover{
    color: var(--green);
    border: 1px solid #2E8B57;
    background: #fff;
    scale: 1.05;
    
}
.dropdown{
    display: none;
}
.navbar li:hover .dropdown{
    display: block;
    position: absolute;
    /* left: 0; */
    top: 60%;
    background: var(--green);
}
.navbar li:hover .dropdown {
    display: block;
    margin: 10px;
    color: #fff;
}
.navbar  li:hover .dropdown li{
    width: 140px;
    padding: 10px;
}
.fas{
    float: right;
    margin-left: 10px;
    padding-top: 3px;
}
.hero{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.box div{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    z-index: -1000;
    border: 6px solid rgba(9, 92, 8, 0.8);
}
.box div:nth-child(1){
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(2){
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
}
.box div:nth-child(3){
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
}
.box div:nth-child(4){
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(5){
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite;
}
.box div:nth-child(6){
    top: 80%;
    left: 70%;
    animation: animate 15s linear infinite;
}
.box div:nth-child(7){
    top: 60%;
    left: 80%;
    animation: animate 15s linear infinite;
}
.box div:nth-child(8){
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;
}
.box div:nth-child(9){
    top: 90%;
    left: 25%;
    animation: animate 9s linear infinite;
}
.box div:nth-child(10){
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite;
}
@keyframes animate{
    0%{
        transform: scale(0) translate(0) rotate(0);
        opacity: 0.8;
    }
    100%{
        transform: scale(1.3) translate(-90px) rotate(360deg);
        opacity: 0.7;
    }
}
.hero .h3simple{
    padding-top: 130px;
    color: var(--green);
    padding-left: 30px;
    padding-bottom: 40px;

}
.h1intro {
    padding-left: 20px;
    padding-bottom: 40px;
    font-size: 30px;
    display: flex;
    width: 60%;
    
}
.p{
    width: 50%;
    padding-left: 30px;
    font-size: 18px;
}
.about{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
}

.about .aboutphoto{
    width: 49%;
    height:400px;
    padding-top: 50px ;
    object-fit: cover;
    overflow: hidden;
}
.about .aboutphoto img{
    width: 100%;
    height:100%;
    object-fit: cover;
    /* overflow: hidden; */
}
.aboutcontent{
    width: 50%;
}

.forabout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: #2E8B57;
    gap: 3px;
    min-width: 250px;
}
.forabout div {
    border: 1px solid #2E8B57;
    height: 1px;
    width: 45%;
}
.about-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
.about-title h2 {
    color: #2E8B57;
    text-align: center;
    width: 60%;
}
.about .p{
    width:80%;
    height: 50px;
    padding: 20px;
    display: flex;
    align-self: stretch ;
}
/* .countercontainer{
    width: 100%;
    display: flex;
    flex-direction: row;
} */
.about .countercontainer{
    width: 100px;
    height: 50px;
    padding-left: 150px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}
.about .countercontainer .counter{
    width: 100px;
    height: 50px;
    font-size: 70px;
    font-weight: 500;
    color: var(--green);
}
.countercontainer p{
    padding-top: 50px;
    font-weight: 500;
    font-size: 40px;
    color: var(--green);
}
.years{
    margin-top: 40px;
    padding-left: 100px;
    font-size: 20px;
} 


/* services */

.services{
    width: 100vw;
    height: auto;
    background: whitesmoke;
    
}
.allservices{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    
}
.service1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 150px;
    transition: all 300ms ease-in ;
    
}
.service1:hover{
    scale: 1.1;
}
.h{
    width: 90%;
    height: 1px;
    background-color: black;

}
.servicehighlight {
    font-size: 18px;
    font-weight: bold;
  }
  
  /* Transition effect */
  .transition {
    transition: font-size 0.9s;
  }
  
  /* Zoom out effect */
  .zoom-out {
    font-size: 14px; /* Decreased font size */
  }
  
  /* Zoom in effect */
  .zoom-in {
    font-size: 18px; /* Increased font size */
  }

/* financial planning */

.loans{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    gap: 20px;
    padding-left: 30px;
}
.mainbox{
    width: 250px;
    height: 230px;
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.mainbox .faicon{
    width: 60px;
    height: 60px;
    background: whitesmoke;
    border-radius: 50%;
    display: flex;
    align-items: center;
    padding-left: 19px;
    /* padding-bottom: 10px; */
}


/* pricing plan */
.pricingplan{
    width: 100%;
    height: auto;
}
.pricingplan .pricingheading{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plan{
    padding: 20px;
    width: 90%;
}
.plan .outerbox{
    width: 400px;
    height: 300px;
    border: 1px solid black;
}





.top{
    width: 30px;
    height: 40px;
    position: fixed;
    bottom: 7.5rem; right: 2rem;
    z-index: 100;
    display: none ;
    background-color: #a9ffa9;
    color: var(--green);
    padding: 5px;
    font-size: 30px;
    border-radius: 10px;
}











@media (max-width:640px){
.p{
    width: 100%;
}
    
    .about{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .about .aboutphoto{
        width: 100%;
    }
    .about .aboutcontent{
        width: 100%;
    }
    .about .p{
        width: 100%;
    }
}










